body {
  position: relative !important;
}
.cloudmsg-backlink {
  width: 100%;
  padding: 5px;
  margin: 0;
  border: none;
  position: static;
  bottom: 0;
  text-align: right;
  background: darkslategrey;
  color: lightslategrey;
  left: 0;
  font-size: 10px;
  height: 25px;
}
.cloudmsg-backlink a {
  color: lightslategrey;
  text-decoration: none;
}
.cloudmsg-backlink a:hover {
  text-decoration: none;
  color: white;
}